@import 'mixins';

.feedback {
    width: 100%;
    padding-top: 100px;
    &_title {
        color: white;
        text-align: center;
    }
    &_wrapper{
        padding-top: 50px;
        &-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            input {
                width: 400px;
                height: 40px;
                margin: 10px 0px;
                border: 1px gray solid;
                color: white;
                border-radius: 3px;
                height: 30px;
                font-size: 20px;
                outline: none;
                padding: 3px 3px 7px 5px;
                background-color: transparent;
                &:focus {
                    border: 1px orange solid;
                }
                @include br(sm) {
                    width: 300px;
                 }
            }
            button {
                width: 150px;
                height: 50px;
                font-size: 25px;
                background-color: transparent;
                color: white;
                border: 2px grey solid;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.3s ease;
                margin-top: 20px;
                padding: 5px 10px 7px 10px;
                @include br(md) {
                   width: 200px;
                   height: 50px;
                   font-size: 25px;
                }
                &:hover {
                    background-color: gray;
                    color: black;
                    transition: all 0.3s ease;
                }
            }
        }
    }
}