@import 'header';
@import 'mixins';
@import 'about';
@import 'skills';
@import 'projects';
@import 'feedback';
@import 'footer';


*{
    box-sizing: border-box;
}

body {
    max-width: 1920px 100%;
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    letter-spacing: 2px;
    margin: 0px 0px 0px 0px;
    background: linear-gradient(to bottom, #919191, #001122);
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;

    @include br(xl) {
        max-width: 1024px;
        padding: 0 15px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    @include br(lg) {
        max-width: 992px;
        padding: 0 15px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    @include br(md) {
        max-width: 768px;
        padding: 0 10px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    @include br(sm) {
        max-width: 425px;
        padding: 0 10px;
        box-sizing: border-box;
        margin: 0px 0px 0px 0px;
    }

    @include br(xs) {
        max-width: 375px;
        padding: 0 5px;
        box-sizing: border-box;
        margin: 0px 0px 0px 0px;
    }

    @include br(xxs) {
        max-width: 320px;
        padding: 0 5px;
        box-sizing: border-box;
        margin: 0px 0px 0px 0px;
    }
}

.main {
    padding-top: 40px;
    &_title {
        width: 300px;
        margin: 0 auto;
        text-align: center;
        color: white;
        border-bottom: 2px rgba(231, 161, 31, 0.719) solid;
        padding-bottom: 5px;
        border-radius: 5px;
    }
}